@import './styles/resets/normalize.css';

@import './styles/variables.css';
@import './styles/app.css';

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
}

button {
   cursor: pointer;
   padding: 0.1;
}
