#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.editor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 49.8% 0.4% 49.8%;
  grid-template-rows: 49.5% 1% 49.5%;
  background-color: var(--dark-0);

}

.code {
  width: 100%;
  height: 100%;
  position: relative;
}

.monaco-editor-background {
   background: none !important;
}

.monaco-editor {
   background-position: center;
   background-repeat: no-repeat;
   background-size: 10rem;
}

#html .monaco-editor {
   background-image: url('../assets/html.svg');
}

#css .monaco-editor {
   background-image: url('../assets/css.svg');
}

#js .monaco-editor {
   background-image: url('../assets/js.svg');
}

.iframe {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
}

/* sidebar */

.sidebar {
   width: 5rem;
   height: 100%;
   background-color: var(--dark-0);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 1rem 0;
}

.sidebar__logo {
   width: 100%;
   height: 5rem;
   padding: 1rem;
   margin: 0;
   border: none;
   background-color: inherit;
}

.sidebar__btn {
   width: 100%;
   height: 5rem;
   padding: 1rem;
   margin: 0;
   border: none;
   background-color: inherit;
}

.sidebar__icon {
   height: 100%;
}

.sidebar__lg {
   width: 100%;
}

.sidebar__icon:hover {
  filter: contrast(50%);
}

/* Split js */

.vertical-gutter {
  grid-area: 1 / 2 / 4 / 2;
  cursor: col-resize;
  background-color: var(--dark-0);
}

.horizontal-gutter {
  grid-area: 2 / 1 / 3 / 4;
  cursor: row-resize;
  background-color: var(--dark-0);
}
